@import 'tailwindcss';

/* CUSTOM STYLES */
@import './custom/theme-toggle.css';

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --bg-base-100: var(--color-gray-50);
  --bg-base-200: var(--color-gray-100);
  --bg-base-300: var(--color-gray-200);
  --primary: oklch(43.15% 0.2369 270.16);
}
:root[data-theme='dark'] {
  --bg-base-100: var(--color-gray-900);
  --bg-base-200: var(--color-gray-800);
  --bg-base-300: var(--color-gray-700);
  --primary: oklch(64.14% 0.192 274.32);
}

@theme inline {
  --font-sans: var(--font-geist-sans);

  /* 
  ADD THIS FOR CUSTOM FONT USE
  --font-techno: var(--font-nabla);
*/

  --text-6xl: 4rem;

  --spacing-psm: 1rem;
  --spacing-pmd: 2rem;
  --spacing-plg: 4rem;
  --spacing-pxl: 8rem;
  --spacing-sxs: 29rem;
  --spacing-ssm: 40rem;
  --spacing-smd: 48rem;
  --spacing-slg: 64rem;
  --spacing-sxl: 80rem;
  --spacing-s2xl: 96rem;

  /* 
  --container-sxs: 29rem;
  --container-ssm: 40rem;
  --container-smd: 48rem;
  --container-slg: 64rem;
  --container-sxl: 80rem;
  --container-s2xl: 96rem; */

  --breakpoint-xs: 29rem;

  --color-base: var(--bg-base-100);
  --color-base-100: var(--bg-base-100);
  --color-base-200: var(--bg-base-200);
  --color-base-300: var(--bg-base-300);
  --color-primary: var(--primary);
}

@layer base {
  body {
    @apply bg-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans leading-normal font-normal;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
}

@utility bb {
  @apply border border-red-600 sm:border-blue-600 md:border-green-600 lg:border-indigo-600 xl:border-pink-600;
}

@utility bb2 {
  @apply border border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600 xl:border-indigo-600;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
