@import 'tailwindcss';
@plugin 'daisyui' {
  themes: dark --prefersdark;
  root: ':root';
  include: button;
  logs: true;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98.462% 0.001 247.838);
  --color-base-300: oklch(92.462% 0.001 247.838);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(90% 0.063 306.703);
  --color-primary-content: oklch(49% 0.265 301.924);
  --color-secondary: oklch(89% 0.058 10.001);
  --color-secondary-content: oklch(51% 0.222 16.935);
  --color-accent: oklch(90% 0.093 164.15);
  --color-accent-content: oklch(50% 0.118 165.612);
  --color-neutral: oklch(55% 0.046 257.417);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(52% 0.105 223.128);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(52% 0.154 150.069);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(55% 0.195 38.402);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(50% 0.213 27.518);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

/* CUSTOM STYLES */
@import './custom/theme-toggle.css';

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme inline {
  --font-sans: var(--font-geist-sans);

  /* 
  ADD THIS FOR CUSTOM FONT USE
  --font-techno: var(--font-nabla);
*/

  --text-6xl: 4rem;

  --spacing-psm: 1rem;
  --spacing-pmd: 2rem;
  --spacing-plg: 4rem;
  --spacing-pxl: 8rem;
  --spacing-sxs: 29rem;
  --spacing-ssm: 40rem;
  --spacing-smd: 48rem;
  --spacing-slg: 64rem;
  --spacing-sxl: 80rem;
  --spacing-s2xl: 96rem;

  /* 
  --container-sxs: 29rem;
  --container-ssm: 40rem;
  --container-smd: 48rem;
  --container-slg: 64rem;
  --container-sxl: 80rem;
  --container-s2xl: 96rem; */

  --breakpoint-xs: 29rem;
}

@layer base {
  body {
    @apply bg-base-100;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans leading-normal font-normal;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
}

@utility bb {
  @apply border border-red-600 sm:border-blue-600 md:border-green-600 lg:border-indigo-600 xl:border-pink-600;
}

@utility bb2 {
  @apply border border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600 xl:border-indigo-600;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
